h1{
    font-size: 60px;
    text-align: center;
}
.azul{
    background-color: #3f6ddd;
    height: 700px;
}
section p{
    text-align: center;
    font-size: 30px;
    color: white;
}
.yo{
    height: 300px;
    width: 300px;
}
img{
    border-radius: 100%;
    margin-left: 42%;
}
img:hover{
    background-color: purple;
}